PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/kisaan-setu
JWT_ACCESS_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me
TWILIO_SID=replace_me
TWILIO_AUTH_TOKEN=replace_me
TWILIO_FROM=replace_me
RAZORPAY_KEY_ID=replace_me
RAZORPAY_KEY_SECRET=replace_me
FRONTEND_ORIGIN=http://localhost:5173
COMMISSION_PERCENT=2
